.cover__background {
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  min-height: 740px;
  object-fit: cover;
  background: url(../../../img/cover-trains.jpg) center/cover no-repeat;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-width: 320px;
    min-height: 200px;
  }
}

.cover__background::before {
  content: "";
  display: block;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(42, 44, 47);
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: 0.8;
}